.contact-us-page-container {
  background-color: #f0f0f0; /* Light gray background */
  padding: 40px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

form {
  background-color: #333; /* Dark gray background for the form */
  padding: 20px;
  border-radius: 8px;
  color: white;
}

form label {
  font-weight: bold;
}

form textarea {
  resize: none; /* Disable textarea resizing */
}

form button {
  background-color: #28a745; /* Green color for the submit button */
  border: none;
  margin-top: 10px; /* Add margin for spacing */
}

form button:hover {
  background-color: #218838; /* Darker green color on hover */
}
